<main class="home">
	<div class="sidebar">
		Время
		<div class="time">
		</div>
	</div>
	<div class="main">
		<div class="widgets">
			<header class="header-widgets">
				<h2>Виджеты</h2>
				<div class="buttons">
				<div class="wrapper-button"><button class="prev-btn"><img src="img/angle_left@2x.png"></button></div>
				<div class="wrapper-button"><button class="next-btn"><img src="img/angle_right@2x.png"></button></div>
				</div>
			</header>
			<div class="wrapper-rendered-widgets">
			<div class="rendered-widgets">
		</div>
		</div>
		<div class="second-row">
			<h2>Второй ряд</h2>
			<div class="container-second-row">
			<h3>Заголовок</h3>
			<button class="btn">Кнопка</button>
		</div>
		</div>
		<div class="widgets-2">
			<h2>И еще виджеты</h2>
			<div class="images">
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
			</div>
		</div>
	</div>
</main>